### files ###
*.key
*.pkey
*.pass
*.sqlite3
testStart.sh

test

deamon/core/clibs_src
deamon/core/lua/test

### keep folder structure ###
deamon/logs/*
!deamon/logs/.gitkeep

deamon/core/os/*
!deamon/core/os/.gitkeep

deamon/core/userData/actions/*
!deamon/core/userData/actions/.gitkeep
deamon/core/userData/init/*
!deamon/core/userData/init/.gitkeep
deamon/core/userData/onReload/*
!deamon/core/userData/onReload/.gitkeep
deamon/core/userData/actions/*
!deamon/core/userData/actions/.gitkeep
deamon/core/userData/sites/*
!deamon/core/userData/sites/.gitkeep